<a href="https://colab.research.google.com/github/dp-08/Gen-AI/blob/main/Python_basic_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To find the square root of a number

In [ ]:
import math
n = int(input())
print(math.sqrt(n))

To reverse two numbers

In [ ]:
a = int(input())
b = int(input())
a,b=b,a
print(a)
print(b)

To check if a number if positive, negative or zero

In [ ]:
n = int(input())
if n == 0:
    print("Zero")
elif n < 0:
    print("Negative")
else:
    print("Positive")

To check if a number is even or odd

In [ ]:
n =int(input())
if n%2==0:
  print("Even")
else:
  print("odd")

To find the factorial of a number

In [ ]:
def fact(n):
  if n == 0:
    return 1
  else:
    return n * fact(n-1)

n = int(input())
res = fact(n)
print(res)

To create a dataframe

In [ ]:
import pandas as pd
data = {'Name': ['Abhi','Bob','Charlie'], 'Age': [25,30,35], 'City': ['New York','San Francisco','Los Angeles']}
df = pd.DataFrame(data)
print(df)

To display the data with age greater than 25

In [ ]:
display(df[df['Age'] > 25])

To display the column age

In [ ]:
display(df['Age'])